html {
  min-height: 100%;
  position: relative;
}

body {
  height: 100%;
}

.App {
  height: 100%;
}

.Menu {
  float:left;
  height:100%;
  width:5%;
  background-color:#222;
}

.menu-item:hover {
  cursor: pointer;
  background-color: #3d3d3d;
}

.white-menu-icon {
  color: white;
  font-size: 2.5em;
  margin-top:30px;
  margin-bottom:30px;
}

#Main {
  height: 100%;
  float: right;
  width: 95%;
}

#root {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}