html {
  min-height: 100%;
  position: relative;
}

body {
  height: 100%;
}

.App {
  height: 100%;
}

.Menu {
  float:left;
  height:100%;
  width:5%;
  background-color:#222;
}

.white-menu-icon {
  color: white;
  font-size: 2.5em;
  margin-top:30px;
  margin-bottom:30px;
}

.app-header h2 {
  padding-bottom: 15px;
  color: #fff;
  text-decoration: none;
  border-bottom: 2px solid #fff;
  margin-bottom: 0;
}

  nav > a:hover,
  nav > a:active,
  nav > a:focus {
    color: #fff;
    text-decoration: none;
  }

.header-links {
  padding: unset;
  list-style: none;
  text-align: left;
  position: relative;
}

  .header-links a {
    padding: 10px;
    width: 100%;
    position: inherit;
    border-bottom: 1px solid #fff;
    background-color: #001f3f;
    -webkit-transition: background-color .5s ease-out;
    -moz-transition: background-color .5s ease-out;
    -o-transition: background-color .5s ease-out;
    transition: background-color .5s ease-out;
  }

    .header-links a:hover {
      background-color: #001f30;
      cursor: pointer;
    }

  .header-links a {
    color: #fff;
    text-decoration: none;
  }

#Main {
  height: 100%;
  float: right;
  width: 95%;
}

#root {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
}

/* Burger Menu */
.bm-burger-button {
  position: fixed;
  width: 40px;
  height: 30px;
  left: 10px;
  top: 36px;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: #fff;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
  background: #bdc3c7;
}

/* General sidebar styles */
.bm-menu {
  background: #001f3f;
  font-size: 1.15em;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #001f3f;
}

/* Wrapper for item list */
.bm-item-list {
  color: #b8b7ad;
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
